* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.loading{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    visibility: hidden;
}


body{
    background-color: black;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    min-height: 100vh;
}

.mainDiv{
    width: 100%;
    height: 100%;
    min-height: 80vh;
    position: sticky;
    top: 10vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: -1000;
}

#hi {
    color: lightgreen;
    font-weight: 300;
    overflow: hidden; 
    border-right: .15em solid orange; 
    white-space: nowrap; 
    margin: 0 auto;
    font-family: monospace;
    letter-spacing: .15em; 
    animation: drop 2s ease-in,
    typing 2.5s steps(90, end),
    blink-caret .75s step-end infinite;
}

#name {
    font-size: 200px;
    font-weight: 800;
    animation: fadeIn 2.5s ease-in;
    z-index: 1000;
}

.secondtext{
    position: absolute;
}

#name2{
    font-size: 100px;
    font-family: 'Gochi Hand', cursive;
    opacity: 0%;
}


.background{
    position: absolute;
    justify-content: left;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    flex-direction: column;
}

#text1, #text5{
    text-align: left;
    color: rgb(255, 255, 255, 0.1);
    font-size: 100px;
    animation: animInLeft 2.5s ease-in;
    
}

#text2, #text4, #text6{
    text-align: right;
    color: rgb(255, 255, 255, 0.1);
    font-size: 100px;
    animation: animInRight 2.5s ease-in;
    
}

#text3{
    text-align: left;
    color: rgb(255, 255, 255, 0.1);
    font-size: 100px;
    animation: animInLeft2 2.5s ease-in;
    
}

#text4{
    text-align: right;
    color: rgb(255, 255, 255, 0.1);
    font-size: 100px;
    animation: animInRight2 2.5s ease-in;
    
}

.video_container{
    position: absolute;
    z-index: -1000;
    opacity: 0.15;
    animation: Fade 2.5s ease-in;
    filter: blur(10px);

}

.video{
    height: 100%;
    width: 100%;
    z-index: -1000;
}

.section2{
    z-index: 1000;
    height: 900px;
    width: 100%;
    background: black;
    padding-top: 50px;
}
#desc{
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

#aboutMeDesc{
    width: 800px;
    margin: auto;
    font-size: 60px;
    font-weight: 600;
}

#p1, #p2, #p3, #p4, #p5{
    opacity: 0.17;
    transition: opacity 0.8s ;
    -webkit-transition: opacity 0.8s;
}

/* section02 */

.section02 {
    width: 70%;
    margin: auto;
    background: black;
}

#skilsHeading {
    font-size: 70px;
    color: lightcoral;
    font-weight: 800;
    letter-spacing: 5px;
}

#skillDescrip {
    margin-top: 15px;
    font-weight: 300;
    margin-bottom: 50px;
}

#technicalID {
    font-family: monospace;
    color: rgb(223, 96, 223);
}


.Technical01 #icon, .soft #icon {
    height: 50px;
    opacity: 0.8;
    padding: 5px;
}

.Technical01, .soft {
    justify-content: center;
    align-content: center;
    display: grid;
}

.gridLayout{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 140px;
    row-gap: 40px;
    text-align: center;
    margin-top: 30px;
}

.gridElement {
    background: #111;
    width: 150px; 
    height: 120px; 
    text-align:center;
    justify-content: center; 
    align-items: center; 
    display: flex; 
    flex-direction: column;
    transition: scale 1s ;
    -webkit-transition: scale 1s;
}

#techSkil1, #techSkil2,#techSkil3,#techSkil4,#techSkil5 {
    opacity: 0;
    transform: translateY(50px);
    transition: all 1s;
    -webkit-transition: all 1s;
    -webkit-transform: translateY(50px);
}

.gridElement:hover {
    box-shadow: 0px 0px 20px 10px rgba(25,255,0, 0.2);
    scale: 1.1;
    background: #151515;
}
#softID{
    font-family: monospace;
    color: rgb(223, 96, 223);
    margin-top: 40px;
}


@keyframes animateEntry {
    0% {
        transform:  translateX(-100px);
        opacity: 0;
    } 
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

/* Animations */
@keyframes drop {
    0%{
        opacity: 0;
    }
    20% {
        opacity: 100;
    }
}

@keyframes Fade {
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100% {
        opacity: 0.15;
    }
}

@keyframes animInLeft {
    0%{
        opacity: 0;
        transform: translateX(-200px);
    }

    90%{
        opacity: 0;

    }
    100%{
        opacity: 0.5;
        transform: translateX(-150px);
    }
    
}

@keyframes animInRight {
    0%{
        opacity: 0;
        transform: translateX(200px);
    }

    90%{
        opacity: 0;

    }
    100%{
        opacity: 0.5;
        transform: translateX(150px);
    }
    
}

@keyframes animInLeft2 {
    0%{
        opacity: 0;
        transform: translateX(200px);
    }

    90%{
        opacity: 0;

    }
    100%{
        opacity: 0.5;
        transform: translateX(150px);
    }
    
}

@keyframes animInRight2 {
    0%{
        opacity: 0;
        transform: translateX-(200px);
    }

    90%{
        opacity: 0;

    }
    100%{
        opacity: 0.5;
        transform: translateX(-150px);
    }
    
}

@keyframes fadeIn {
    0%{
        opacity: 0%;
        font-size: 190px;
    }
    70% {
        opacity: 0%;
        font-size: 190px;


    }
    75%{
        opacity: 25%;
    }
    80%{
        opacity: 50%;
        font-size: 190px;


    }
    100% {
        opacity: 100%;
        font-size: 200px;
    }
}

/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 40% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }


@media screen and (max-width: 1600px) {

    #name2{
        font-size: 60px;
    }

    #name{
        font-size: 160px;
        animation: fadeIn 2.5s ease-in;
        
    }

    @keyframes fadeIn {
        0%{
            opacity: 0%;
            font-size: 150px;
        }
        70% {
            opacity: 0%;
            font-size: 150px;
    
    
        }
        75%{
            opacity: 25%;
        }
        80%{
            opacity: 50%;
            font-size: 150px;
    
    
        }
        100% {
            opacity: 100%;
            font-size: 160px;
        }
    }

}

@media screen and (max-width: 1300px) {

    #name2{
        font-size: 40px;
    }

    #name{
        font-size: 140px;
        animation: fadeIn 2.5s ease-in;
        
    }

    @keyframes fadeIn {
        0%{
            opacity: 0%;
            font-size: 130px;
        }
        70% {
            opacity: 0%;
            font-size: 130px;
    
    
        }
        75%{
            opacity: 25%;
        }
        80%{
            opacity: 50%;
            font-size: 130px;
    
    
        }
        100% {
            opacity: 100%;
            font-size: 140px;
        }
    }

}

 

