.textContainer {
    font-size: 1.8rem;
}


@media screen and (min-width: 1920px){
    .textContainer{
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 1000px){
    .textContainer{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px){
    .textContainer{
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 400px){
    .textContainer{
        font-size: 1.2rem;
    }
}